/* .container {
    max-width: 750px;
    padding: 0 15px;
    margin: 10px auto;
    color: white;
} */
/* .name {
    font-size: 24px;
    font-weight: 800;
}
.role {
    font-size: 36px;
    margin: 0 auto 15px;
    text-align: left;
}
.about, .resume, .aboutCompany {
    font-size: 18px;
    text-align: left;
    max-width: 80%;
}
.about span {
    font-weight: 700;
    border-bottom: 2px solid #017CB4;
}
.resume {
    margin-bottom: 40px;
}
.heading {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 10px;
    text-align: left;
}
.card {
    width: 300px;
    height: 150px;
    background-color: #242424;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 20px 10px;
    margin: 20px 0;
}
.company {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0px 5px 15px;
    text-decoration: none;
    color: white;
}
.company:hover {
    text-decoration: underline;
}
.Role {
    font-size: 16px;
    color: rgb(196, 194, 194);
    font-weight: 400;
    margin: 5px 0px 30px 15px;
}
.workInfo {
    list-style-type: none;
    margin: 0px 15px 25px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.location, .date {
    font-size: 14px;
    font-weight: 400;
    color: rgb(196, 194, 194);
}
.projectCard {
    margin: 30px 0;
}
.cardTitle {
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0 10px;
}
.ulStyles, .projectLinks, .skillsList, .toolsList {
    display: flex;
    flex-flow: row wrap;
}
.ulStyles, .skillsList, .toolsList {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.liStyles {
    font-size: 14px;
    font-weight: 400;
    padding: 0 15px 0 0;
    color: rgb(196, 194, 194);
}
.skillSection {
    margin: 0 0 30px 0;
}
.skillsList, .toolsList {
    margin: 20px 0 0 0;
}
.skills, .tools {
    font-size: 18px;
    padding: 0 20px 10px 0;
    color: rgb(196, 194, 194);
}
.projectLink, .codeLink {
    font-size: 16px;
    padding: 0 0 2px 0;
    margin: 0 20px 0 0;
    text-decoration: none;
    border-bottom: 2px solid #017CB4;
    color: white;
}    
.contact {
    margin: 80px auto 0;
}   
.dropMail {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px;
}
.mailId {
    font-size: 18px;
    text-align: center;
    margin: 0 auto 50px;
    color: rgb(196, 194, 194);
}

@media (max-width:780px) {

    .container {
        max-width: 600px;
    }
    .about, .resume, .aboutCompany {
        width: 95%;
    }
    .card {
        width: 280px;
    }
    .projectImage {
        width: 280px;
        height: 200px;
    }
}

@media screen and (max-width:480px) {
    
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .role {
        margin: 0 auto 15px;
        font-size: 32px;
        text-align: center;
    }
    .about, .resume {
        margin: 0 auto 15px;
        text-align: left;
    }
    .about, .resume, .aboutCompany {
        font-size: 16px;
        width: 100%;
    }
    .resume {
        margin-bottom: 50px;
    }
    .heading {
        font-size: 24px;
        margin: 0 auto 15px;
        text-align: center;
    }
    .card , .projectCard {
        margin: 20px auto;
    }
    .skillSection {
        margin: 0 auto 30px;
    }
    .skillsList, .toolsList {
        margin: 20px auto 0;
        justify-content: center;
        align-items: center;
    }
    .skills, .tools, .mailId {
        font-size: 16px;
    }
    .contact {
        margin: 0 auto;
    }   
    .dropMail {
        font-size: 30px;
    }
    .dropMail, .mailId {
        padding: 0 15px;
    }
} */