.flexRow, .flexRowMediaLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.flexColumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.mediaLinks {
    padding: 8px;
    margin: 0 10px;
    /* background-color: white;
    border-radius: 50px; */
}
.introSection {
    margin: 50px auto;
}
#borderBottom {
    border-bottom: 1px solid white;
}
.resumeLink, .mailLink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #017CB4;
}
.mailLink {
    border-bottom: none;
}
.mailLink:hover {
    border-bottom: 2px solid white;
}

@media screen and (max-width:450px) {
    
    .flexRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

